
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div class="bg"> 
	<img src="images/diversity_matters.jpg" alt="Mountain View" style="width:70%;height:70%;">
</div>

<section>
<p>Life Alert ® is a Personal Emergency Response and Home Medical Alert System company that saves lives from catastrophic outcomes, using a unique technology to provide superior home audio monitoring protection. Founded in 1987, Life Alert ® provides its service to members nationwide. The company employs over 600 people, all in the United States.</p>

<p>The company’s service solves a major home security issue. Life Alert’s protection helps people to live at home with independence and comfort, living their lives the way they want to, with a feeling of safety and peace of mind.</p>

<p>Life Alert ® handles over two million calls a year, and on average saves at least one life from a potential catastrophic* outcome every 11 minutes (over 46,000 in 2016). In Life Alert’s Monitoring Center, the size of its emergency staff per member is 200% greater than a traditional security company.</p>

<p>Thanks to a greater sense of security, a 2004 ACNielsen study showed that 87% of Life Alert ® members stated that Life Alert’s protection is a main or important factor in their decision to keep on living alone at home. For safety, security and emergency protection, Life Alert ® is the choice for all ages.</p>

<p>For more info call: 1-800-360-0329</p>

</section>


<section>
<div class="footer">
	<div class="footerContainer">
		<img src="images/footer_image.png" alt="Mountain View" style="width:100%;height:154px;">
		<div class="imginfooter">
		</div>
	</div>
</div>


</section>





