<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css">
    <title>Life Alert</title>
  </head>
  <body>

    <h2>Our Mission Statement:</h2>
        <p> Our pledge of <b>life</b>. <b>Life Alert</b> is an emergency response company that is fully dedicated to providing its members with emergency response services quickly and effectively. Unlike other companies, which protect property, we protect lives.</p>

      <div id="clock"></div>
      <div id="time"></div>

      <script src="home.js"></script>
  </body>
  </html>
