

  <h2>Our Services:</h2>
  <div class="container">
    <div class="left">
  <p><a class="services" href="https://www.greatcall.com/services-apps">Partnership with Greatcall</a></p><br></br>
  <p><a class="services" href="http://www.lifealert.com/medical_50.aspx">Medical Emergencies</a></p><br></br>
  <p><a class="services" href="http://www.lifealert.com/HELPButton.aspx">Shower Emergencies</a></p><br></br>
</div>

 <div class="right">
  <p><a class="services" href="http://www.lifealert.com/security_50.aspx">Home Intrusion</a></p><br></br>
  <p><a class="services" href="http://www.lifealert.com/HELPPhone_50.aspx">Mobile & GPS</a></p><br></br>
  <p><a class="services" href="http://www.lifealert.com/EmergencyMobileApp.aspx">Mobile App</a></p>
  </div>
  </div>

  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
     <h2>Our Mission Statement:</h2>
        <p> Our pledge of <b>life</b>. <b>Life Alert</b> is an emergency response company that is fully dedicated to providing its members with emergency response services quickly and effectively. Unlike other companies, which protect property, we protect lives.</p>



<script src="home.js"></script>
  
