
  <h2>Our Services:</h2>
     <h2>Our Mission Statement:</h2>
        <p> Our pledge of <b>life</b>. <b>Life Alert</b> is an emergency response company that is fully dedicated to providing its members with emergency response services quickly and effectively. Unlike other companies, which protect property, we protect lives.</p>

    <div class="callcenter">
      <img src="https://www.lifealert.com/mobile/img/life-alert-office.png">
    </div>




      <script src="home.js"></script>
  
