<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/sinatra.css">
		<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
	<title>Life Alert</title>
</head>

<body class="<%= @class %>">
	<div class="container2">
	<img src="images/life_alert_2.0.png" style="width: 300px; height: 100px;">


<div class="contact">
	<p><b>For a FREE Brochure call:</b></p>
	<p><b>1-800-360-0329</b></p>
</div>

<nav>
	<ul>
		<a class="link" href="/">Home</a>
		<a class="link" href="aboutus">About Us</a>
		<a class="link" href="testimonials">Testimonials</a>
		<a class="link" href="contact">Contact Us</a>
	</ul>
</nav>
</div>

<%= yield %>						
</body>
</html>