<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/sinatra.css">
	<title>Life Alert</title>
</head>
<body class="<%= @class %>">
	<img src="http://www.lifealertemergencyresponse.com/youngeradults/images/lifealertlogo_th.jpg" style="width: 300px; height: 100px;">

<div class="contact">
<p><b>For a FREE Brochure call:</b></p>
<p><b>1-800-360-0329</b></p>
</div>

<nav>
	<ul>
		<a href="/">Home</a>
		<a href="aboutus">About Us</a>
		<a href="testimonials">Testimonials</a>
		<a href="contact">Contact Us</a>
	</ul>
</nav>




<%= yield %>						
</body>
</html>