<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/sinatra.css">
	<title>Life Alert</title>
</head>
<body>
	<img src="http://www.lifealertemergencyresponse.com/youngeradults/images/lifealertlogo_th.jpg" style="width: 400px; height: 100px;">
<nav>
	<ul>
		<a href="home">Home</a>
		<a href="aboutus">About Us</a>
		<a href="testimonials">Testimonials</a>
		<a href="contact">Contact Us</a>
	</ul>
</nav>


<br></br>
	<img src="https://i.pinimg.com/736x/b1/a0/0c/b1a00c2d4485a5e58235394a22695131--facebook-button-social-networks.jpg" style="width: 50px; height: 50px"></b>

						<img src="http://www.oneartsymama.com/wp-content/uploads/2015/10/socialmediatwitter2.png" style="width: 50px; height: 50px"></b>

<script src="/sinatra.js"></script>
<%= yield %>						
</body>
</html>