<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/sinatra.css">
	<title>Life Alert</title>
</head>
<body>
<h1>Life Alert</h1>
<nav>
	<ul>
		<a href="home.erb">Home</a>
		<a href="aboutus.erb">About Us</a>
		<a href="testimonials.erb">Testimonials</a>
		<a href="contact.erb">Contact Us</a>
</nav>

<script src="/sinatra.js"></script>
<%= yield %>
</body>
</html>