<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="public/sinatra.css"
	<title>Life Alet</title>
</head>
<body>

<nav>
	<ul>
		<li href="home.erb">Home</li>
		<li href="aboutus.erb">About Us</li>
		<li href="testimonials.erb">Testimonials</li>
		<li href="contact.erb">Contact Us</li>

<script src="public/sinatra.js"></script>
<%= yield %>
</body>
</html>