

<section class="testimonials">

  <img class="elderly_group" src="images/elderly_group_collage.jpg" alt="elderly_group">


    <div class=column_wrapper>
      <p class="text_column"> <b>Ruby from D.M., Philadelphia, PA wrote:</b> 
      My mother had fallen outside and when I arrived she was on the line with Life Alert. The Life Alert Representative was so kind and stayed on the line with me the entire time until the ambulance arrived. She also talked with the 1st responders. I can’t say thank you enough for the help and kindness shown. Life Alert was so wonderful and I greatly appreciate everything they did.
  		<img class="avatar" src="images/old_woman.webp" alt="elderly_people" height="72" width="62">	</p>
 	
      <p class="text_column"><b>Mac from E.T Ogallala, NE wrote:</b> My mom was not feeling well so she called Life Alert. The associate followed protocol and did not leave my mom unattended. She waited for my mom’s contacts to be reached and waited for paramedics to arrive before hanging up. Life Alert went above and beyond by calling me at work to follow up with my mom’s progress. Thanks to Life Alert, their response was quick.
      	<img class="avatar" src="images/african_am_2_0.jpg" alt="elderly_people" height="62" width="62">	</p>

       </p>
      <p class="text_column"><b>Loretta from N. D., Placentia, CA wrote: </b> Husband got tangled in bed covers and slid to the floor. I could not pick him up or move him. Told him to turn over onto his knees and grab the mattress and pull himself up. No good – so I called Life Alert and the young fellow arrived and 1-2-3 he was up and okay. The man from Life Alert was on the phone the complete time which made me feel better. Thanks to Life Alert, their response was quick.Thanks!

      	<img class="avatar" src="images/happy_old_lady.jpg" alt="elderly_people" height="62" width="62">	</p>


		</div>
  </section>


<section class="testimonials_2">
  <div class="column_wrapper">
	 <p class="text_column"> <b>Bridget from G.H Helena, AL wrote:</b> 
      I had tremendous pain on the left side so I pushed my Life Alert button around my neck. They instantly called for help and stayed on the line until help arrived. They have always been very helpful whether I was testing the line or an actual emergency. Such a good feeling to know they are there. Thanks to Life Alert, their response was quick.Thank you!

  		<img class="avatar" src="images/old_woman.webp" alt="elderly_people" height="72" width="62">	</p>
 	
      <p class="text_column"><b>Harvey from E.R Plymouth Meeting, PA wrote:</b> My wife and I enrolled in Life Alert’s services 10 years ago for my aging father after my mother passed away. Over the past 10 years, your services has literally saved my father’s life at the very least half a dozen times. He has fallen, breaking his hip after a hip replacement, fallen in the bathroom and into the shower repeatedly. Thank you sincerely with all our hearts. God bless all of you at Life Alert!!!!
      	<img class="avatar" src="images/african_am_2_0.jpg" alt="elderly_people" height="62" width="62">	</p>

       </p>
      <p class="text_column"><b>James from M.B Livingston, TX CA wrote: </b> My mother had fallen outside and when I arrived she was on the line with Life Alert. The Life Alert Representative was so kind and stayed on the line with me the entire time until the ambulance arrived. She also talked with the 1st responders. I can’t say thank you enough for the help and kindness shown. Life Alert was so wonderful and I greatly appreciate everything they did.


      	<img class="avatar" src="images/happy_old_lady.jpg" alt="elderly_people" height="62" width="62">	</p>
      </div>
      </section>




