<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="testimonals.css" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
</head>
<body>




<h1>Testimony of the Day</h1>

<p>The Life Alert necklace button saved my life on October 1, 2012. I woke up approximately 2:20 a.m. I couldn’t tell what was wrong with me other than I couldn’t move out of bed. If I tired to raise my head I would fall back on the pillow. Later I learned it was because my blood pressure was dangerously low. My voice wasn’t strong still, so the Life Alert operator got the paramedics to come out right away. They also called my daughter and son, and let them know what the name of the hospital where I was being taken too. I was rushed to a nearby hospital and diagnosed with bleeding ulcers. The emergency escalated to code blue since I began to hemorrhage; a life threatening situation, especially for an 83 year old lady. With the help of God, and an excellent surgeon and his team, I am home to tell you what happened and how Life Alert responded with little time to spare helping to save my life. I would make this story more dramatic by quoting from the doctors and particularly my son and daughter, but instead I thank Life Alert for taking the lead in saving my life. I just celebrated my 84th birthday.
N. D., Placentia, CA</p>


<div class="testimonal_columns">
 
 
<p>10.09.2017</p>

<p> My mother had fallen outside and when I arrived she was on the line with Life Alert. The Life Alert Representative was so kind and stayed on the line with me the entire time until the ambulance arrived. She also talked with the 1st responders. I can’t say thank you enough for the help and kindness shown. Life Alert was so wonderful and I greatly appreciate everything they did.</p>

<p>E.T Ogallala, NE</p>


<p>10.09.2017</p>
<p>My mom was not feeling well so she called Life Alert. The associate followed protocol and did not leave my mom unattended. She waited for my mom’s contacts to be reached and waited for paramedics to arrive before hanging up. Life Alert went above and beyond by calling me at work to follow up with my mom’s progress.</p>

<p>A.N Winter Park, FL</p>


<p>10.09.2017</p>
<p>I fell in my dining room and at the time I was home alone. Thanks to Life Alert, their response was quick. Within 15 minutes I was back on my feet, but they stayed with me until they were sure I would be ok.</p>

<p>M.L Pittsburgh, PA</p>


<p>10.09.2017
Husband got tangled in bed covers and slid to the floor. I could not pick him up or move him. Told him to turn over onto his knees and grab the mattress and pull himself up. No good – so I called Life Alert and the young fellow arrived and 1-2-3 he was up and okay. The man from Life Alert was on the phone the complete time which made me feel better. Thanks!

<p>D.M., Philadelphia, PA</p>


<p>10.09.2017</p>

<p>I had tremendous pain on the left side so I pushed my Life Alert button around my neck. They instantly called for help and stayed on the line until help arrived. They have always been very helpful whether I was testing the line or an actual emergency. Such a good feeling to know they are there. Thank you!</p>

<p>G.H Helena, AL</p>


<p>10.09.2017</p>

<p>Around nine in the morning, a bat invaded my peace (the 1st ever in my 85 years). I called Life Alert and they responded immediately and notified the local police who responded in minutes. Before he could remove the bat, the policeman was called to an emergency, but he returned and removed the bat within half an hour later.</p>

<p>E.R Plymouth Meeting, PA</p>


<p>10.09.2017</p>

<p>My father was trying to get into his car to go to the hospital. However, he was not able to - and had to utilize Life Alert. They were very helpful and since I am working a full-time job, I wasn’t able to drive him.</p>

<p>M.B Lebanon, PA</p>


<p>10.09.2017</p>
<p>I was walking out to the garage and the tip of my sandal got caught on the door. I fell forward and could not get up. I pushed my alarm button and Life Alert answered immediately. The fire department came and got me up. Without Life Alert, I would have laid there for days!</p>

<p>P.S Ellisville, M</p>


<p>10.09.2017</p>

<p>I was experiencing severe shoulder and neck spasm. When I called Life Alert, they helped keep me calm and told me that help was on the way. The fire department and ambulance was here in about 6 minutes. I am so grateful for Life Alert!</p>

<p>M.T Hales Location, NH</p>


<p>10.09.2017</p>

<p>What a comfort it is to hear the words, “Help is on its way”. Life Alert stayed on the phone with me until help arrived. I can’t thank you enough!</p>

<p>A.V Youngstown, OH</p>

</div>

</body>
</html>