body {
	font-family: 'Helvetica';
	background-image: url("https://cdn2.hubspot.net/hubfs/388539/PSL_Blog_Post_Pictures/diversity-matters-at-presbyterian-senior-living.jpg");

}

img {
	text-align: center;
	height: 100%;
}
