
/*THIS IS THE LAYOUT ERB*/

a {
text-decoration: none;
color: #CB4335 ;
padding: 20px;

}

body{
	margin: 0 auto;
	font-family: 'Exo'
}

nav {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: #EDDDD4 ;
    padding-bottom: 50px;
    font-family: 'Exo'

}


html{
    padding: 0;
    margin:0;
}


.container2{
    background-color: #EDDDD4;
    font-family: 'Exo';
    
}


.contact{
    font-size: 20px;
    color: #CB4335 ;
    float: right;
    font-family: 'Exo'
}






/*This is the home page CSS*/

.container1{
    background-color: #EDDDD4 ;
    padding-bottom: 25px;
}

#player_container{
    margin:  auto;
    width:600px;
    height:350px;

}

body.home h2{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
}

body.home p{
text-align: center;
font-size: 20px;
font-family: 'Exo';

}

body.home{
    background-color: #0F8B8D ;
    margin: 0;
    padding: 0;
}


.services{
text-decoration: none;
color: black;
padding: 20px;
border: solid;
border-color: black;
border-width: 5px;
}


.container{

    width: 100%;
    position: absolute;
    background-color: #0F8B8D ;
    padding-top: -10px;


}

.left{
    float: left;
    display: inline;
    position: relative;
    width: 30%;
    margin-left: 20%;
}


.right{
    float: left;
    position: relative;
    width: 30%;
    margin: 0 auto;
}






/*About Page CSS*/


section p.about {
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding-top: 14px;
    padding-bottom: 1px;
    padding-right: 109px;
    padding-left: 58px;
}

body.about {

    font-family: 'Exo', sans-serif;
    background-color: #C4AF76 ;
    
 }

 .bg{
 	width: 100%;

 }

 .image{
 	margin-left: 26%;
 	padding-bottom: 50px;
 }

 .col_1{
 	text-align: center;
 	font-size: 30px;
 }
 





/*Testimonal Page CSS*/

body.test {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    margin: 3;
    background-color: #E1B2B7 ;


}

.avatar{
	border-radius: 50%;
}


.test .elderly_group{
    height:600px;
    width: 1200px;
    padding-left: 150px;

}

.test .column_wrapper {
    width: 100%;
    position: relative;

}

.test .text_column{
    width: 29%;
    text-align: center;
    font-weight: lighter;
    line-height: 30px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-family: 'Exo', sans-serif;
    column-fill: balance;
    background-color: #E1B2B7 ;
}


.footer{
     position:fixed;
   bottom:0;
   left:0;
   right:0;
   width:100%;
   height:100px;
}

/*.footerContainer {*/
    /*position:relative;*/
   /*width:100%;*/
   /*height:100px;*/
  




/*This is the Contact Us page CSS*/



.modal{
    text-align: center;
    border-style: solid;
    border-color: #C70039 ;
    border-radius: 10px:;
    border-width: 5px;
    padding: 5px;
    background-color: #EDDDD4 ;
    color: black;
    width: 40%;
    margin-top: 5%;
    margin-left: 28%;
    position: absolute;
}

.callcenter{
	margin-right: 200px;
	padding-right: 200px;
	width: 100%;
}


/*THIS IS THE END OF THE CSS*/
	