.modal{
	text-align: center;
	border-style: solid;
	border-color: #C70039;
	border-radius: 10px:;
 	border-width: 5px;
	padding: 5px;
 	background-color: #CB4335;
 	color: black;
 	width: 15%;
 	margin-top: 5%;
 	margin-left: 45%;
 	position: fixed;
}