a {
text-decoration: none;
color: white;
padding: 20px;

}

nav {
	padding-left: 20px;
	padding-right: 20px;
	border-style: solid;
	color: gold;
	border-width: 5px
	border-radius: 5px;
	text-align: center;
	background-color: #CB4335;
	font-size: 30px;
	width: 75%;
	margin: 0 auto;
	border-radius: 15px;
}

.contact{
	font-size: 25px;
	color: #CB4335;
	float: right;
}


/*This is the home page CSS*/

body.home h2{
	font-size: 35px;
	text-align: center;
}

body.home p{
text-align: center;
font-size: 25px;
font-family: sans-serif;

}


body.home.callcenter{
	padding-left: 450px;
}


/*This is the testimonial page CSS*/

