a {
text-decoration: none;

}

h1{

	font-size: 40px;
	color: red;
}


h2{

	border-style: solid;
	border-width: 15px;
	color: green;
	text-align: center;
}

nav{
	border-style: dotted;
	color: red;
	border-width: 5px
	border-radius: 10px;
	text-align: center;
}